<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Редактирование пользователя</title>
</head>
<body>
<div align="center">
    <h2>Редактирование пользователя</h2>
    <form th:method="PATH" th:action="@{/users}" th:object="${user}">
        <table border="0" cellpadding="5">
            <tr>
                <td> ID: </td>
                <td th:text="id"></td>
            </tr>
            <tr>
                <td>Имя: </td>
                <td><th:input path="name" /></td>
            </tr>
            <tr>
                <td>Фамилия: </td>
                <td><th:input path="email" /></td>
            </tr>
            <tr>
                <td>Почта: </td>
                <td><th:input path="address" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Сохранить изменения"></td>
            </tr>
        </table>

        <label for="name">Введите имя</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>

        <label for="name">Введите имя</label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>

        <label for="lastName">Введите фамилию</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>

        <label for="email">Введите почту</label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>

        <input type="submit" th:value="Создать"/>
    </form>
</div>
</body>
</html>